<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangzhihe.dao.LearnResourceDao">
	<resultMap type="com.tangzhihe.domain.LearnResource" id="learnResourceMap">
		<id column="id" property="id" />
	    <result column="author" property="author" />
	    <result column="title" property="title" />
	    <result column="url" property="url" />
	</resultMap>
	<select id="queryLearnResouceList" resultMap="learnResourceMap">
		SELECT * FROM learn_resource learn WHERE 1 = 1
		<if test="entity != null">
			<if test="entity.author != null and entity.author != ''">
				<![CDATA[ AND learn.author LIKE CONCAT('%',#{entity.author},'%') ]]>
			</if>
			<if test="entity.title != null and entity.title  != ''">
				<![CDATA[ AND learn.title LIKE CONCAT('%',#{entity.title},'%') ]]>
			</if>
		</if>
		ORDER BY learn.id DESC
	</select>
	
	<delete id="deleteByLearnResource" parameterType="java.lang.Long">
		DELETE FROM learn_resource WHERE id = #{id} 
	</delete>
	
	<insert id="insertByLearnResource" parameterType="com.tangzhihe.domain.LearnResource">
		INSERT INTO learn_resource (id,author,title,url) 
		            values(#{entity.id},#{entity.author},#{entity.title},#{entity.url});
	</insert>
	
	<update id="updateByLearnResource" parameterType="com.tangzhihe.domain.LearnResource">
		UPDATE learn_resource SET author = #{entity.author},title = #{entity.title},url = #{entity.url}
		                      WHERE id = #{entity.id}
	</update>
</mapper>