<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangzhihe.dao.LearnResourceDao">
	<resultMap type="com.tangzhihe.domain.LearnResource" id="learnResourceMap">
		<id column="id" property="id" />
	    <result column="author" property="author" />
	    <result column="title" property="title" />
	    <result column="url" property="url" />
	</resultMap>
	<select id="queryLearnResouceList" resultMap="learnResourceMap">
		select * from learn_resource learn where 1 = 1
		<if test="entity != null">
			<if test="entity.author != null and entity.author != ''">
				<![CDATA[ and learn.author like CONCAT('%',#{entity.author},'%') ]]>
			</if>
			<if test="entity.title != null and entity.title  != ''">
				<![CDATA[ and learn.title like CONCAT('%',#{entity.title},'%') ]]>
			</if>
		</if>
		order by learn.id desc
	</select>
</mapper>